@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*colores*/
    --color-blue-main: rgba(30, 58, 95, 1);
    --color-light-white: rgba(255, 255, 255, 1);
    --color-orange: rgba(212, 106, 79, 1);
    --color-text-beige: rgba(244, 236, 225, 1);
    --background-button-blue: rgba(26, 42, 58, 1);
    --color-form-label: rgba(107, 114, 128, 1);
    --backgrund-color-placeholder: rgba(125, 107, 93, 0.2);
    --color-background-footer: rgba(10, 25, 47, 1);
    --color-btn-border: rgba(159, 116, 82, 0.5);

    /*Fuentes*/
    --font-text: "Work Sans", sans-serif;

    /*Sizes*/
    --max-width: 1232px;
    --max-width-xl: 1280px;
}

/*Reset*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

/*Componentes*/

.btn {
    padding: 6px 24px;
    border-radius: 4px;
    background-color: var(--color-blue-main);
    color: var(--color-light-white);
    justify-content: center;
    align-items: center;
}

/*Componentes inputs*/

input {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    background-color: var(--backgrund-color-placeholder);
    color: var(--background-color-button);
    width: 100%;
}

input[type="submit"] {
    background-color: var(--background-color-button);
    color: var(--color-light-white);
}

.form-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*Componentes Text*/

h1,
.h1 {
    font: 800 var(--font-text);
    color: var(--color-blue-main);
    line-height: 128px;
    font-size: 128px;
}

h2,
.h2 {
    font: 800 var(--font-text);
    color: var(--color-text-beige);
    line-height: 72px;
    font-size: 72px;

}

h3,
.h3 {
    font: 800 var(--font-text);
    color: var(--color-blue-main);
    line-height: 60px;
    font-size: 60px;
}

h4,
.h4 {
      font: 800 var(--font-text);
    color: var(--color-blue-main);
    line-height: 60px;
    font-size: 60px;
}

p,
.p {
    font: 400 0.9375rem var(--font-text);
    color: var(--color-text);
}

a,
.link,
li {
    font: 500 0.9375rem var(--font-text);
    text-decoration: none;
}

.section {
    padding: clamp(2rem, 5vw, 4rem) 1rem;
    max-width: var(--max-width-xl);
    margin: 0 auto;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}